@import url("/assets/css/header.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor-primaria: #002f52;
    --cor-secundaria: #326589;
    --cor-terciaria: #ed9b00;
    --cor-navebar: #ffffff;
    --cor-fundo: #ebecee;
    --cor-footer: #f9f9f9;

    --fonte-primaria: 'poppins', sans-serif;
    }

      
     

      body{
        font-family: var(--fonte-primaria);
        margin: 0px;
        padding: 0px;
        background-color: var(--cor-fundo);
      }